### Real text analysis of Financial Times brexit articles with spaCy
We would like to:
Extract the names of all the characters mentioned in the all of the Financial Times brexit articles published from 07/2018 to 02/2020.  
Visualize characters' occurences with regards to relative position in all articles.  
Authomatically describe any character from the database of articles.  
Find out which characters have been mentioned in a context of 'no deal'.  
Build keywords extraction that could be used to display a word cloud.

In [1]:
# Download data from Kaggle 
# install kaggle through kaggle json
!pip install -q Kaggle

In [4]:
# upload kaggle json 
from google.colab import files 
files.upload()

In [3]:
# create a new folder named kaggle, 
# copy kaggle.json into the kaggle folder, 
# and set read-write permissions only for you(user)
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
'chmod 600 /root/.kaggle/kaggle.json'

'chmod 600 /root/.kaggle/kaggle.json'

In [5]:
# download dataset through data API 
!kaggle datasets download -d beenoyt/financial-times-brexit-articles-database

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Downloading financial-times-brexit-articles-database.zip to /content
  0% 0.00/3.03M [00:00<?, ?B/s]
100% 3.03M/3.03M [00:00<00:00, 100MB/s]

In [6]:
# unzip folder 
!unzip financial-times-brexit-articles-database.zip

Archive:  financial-times-brexit-articles-database.zip
  inflating: financial_times_brexit_database.csv

In [55]:
import pandas as pd 
df = pd.read_csv('financial_times_brexit_database.csv',low_memory=False,sep=',',index_col=0)

In [57]:
df.drop(columns=['url','reference_time','title','page'],inplace=True)
df.head()

   comment_count  ... processed
0           91.0  ...      True
1          340.0  ...      True
2          426.0  ...      True
3           62.0  ...      True
4            NaN  ...      True

[5 rows x 4 columns]

In [60]:
# Get rid of unprocessed articles 
df.drop(df[(df.processed== False)].index,inplace=True)

In [62]:
df.shape

(4747, 4)

In [66]:
# Drop articles with empty 
df.dropna(subset=['content'],inplace=True)

In [65]:
# 2523 Articles in total 
df.shape

(2523, 4)

In [8]:
# TODO 
# Convert articles to a text file or loop through each row 

import spacy
nlp = spacy.load('en')

In [ ]:

# tfile = open('articles.txt', 'w')
# tfile.write(df['articles'].to_string())
# tfile.close()

In [ ]:
# Process `text` with Spacy NLP Parser
text = read_file(df['article'])
processed_text = nlp(text)

In [ ]:
# How many sentences are in each article?
sentences = [s for s in processed_text.sents]
print(len(sentences))

# Print sentences from index 10 to index 15, to make sure that we have parsed the correct book
print(sentences[10:15])

In [ ]:
# Extract all the personal names of key characters from articles and count their occurrences. 
# Expected output is a list in the following form: [('elizabeth', 622), ('darcy', 312), ('jane', 286), ('bennet', 266) ...].

from collections import Counter, defaultdict

def find_character_occurences(doc):
    """
    Return a list of actors from `doc` with corresponding occurences.
    
    :param doc: Spacy NLP parsed document
    :return: list of tuples in form
        [('Boris', 622), ('darcy', 312), ('jane', 286), ('bennet', 266)]
    """
    
    characters = Counter()
    for ent in processed_text.ents:
        if ent.label_ == 'PERSON':
            characters[ent.lemma_] += 1
            
    return characters.most_common()

print(find_character_occurences(processed_text)[:20])