### Real text analysis of Financial Times brexit articles with spaCy
We would like to:
Extract the names of all the characters mentioned in the all of the Financial Times brexit articles published from 07/2018 to 02/2020.  
Visualize characters' occurences with regards to relative position in all articles.  
Authomatically describe any character from the database of articles.  
Find out which characters have been mentioned in a context of 'no deal'.  
Build keywords extraction that could be used to display a word cloud.

In [1]:
# Download data from Kaggle 
# install kaggle through kaggle json
!pip install -q Kaggle

In [6]:
# upload kaggle json 
from google.colab import files 
files.upload()

In [4]:
# create a new folder named kaggle, 
# copy kaggle.json into the kaggle folder, 
# and set read-write permissions only for you(user)
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
'chmod 600 /root/.kaggle/kaggle.json'

'chmod 600 /root/.kaggle/kaggle.json'

In [5]:
# download dataset through data API 
!kaggle datasets download -d beenoyt/financial-times-brexit-articles-database

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Downloading financial-times-brexit-articles-database.zip to /content
  0% 0.00/3.03M [00:00<?, ?B/s]
100% 3.03M/3.03M [00:00<00:00, 49.9MB/s]

In [7]:
# unzip folder 
!unzip financial-times-brexit-articles-database.zip

Archive:  financial-times-brexit-articles-database.zip
  inflating: financial_times_brexit_database.csv

In [8]:
import pandas as pd 
df = pd.read_csv('financial_times_brexit_database.csv',low_memory=False,sep=',',index_col=0)

In [9]:
df.drop(columns=['url','reference_time','title','page'],inplace=True)
df.head()

   comment_count  ... processed
0           91.0  ...      True
1          340.0  ...      True
2          426.0  ...      True
3           62.0  ...      True
4            NaN  ...      True

[5 rows x 4 columns]

In [10]:
# Get rid of unprocessed articles 
df.drop(df[(df.processed== False)].index,inplace=True)

In [11]:
df.shape

(4747, 4)

In [12]:
# Drop articles with empty 
df.dropna(subset=['content'],inplace=True)

In [13]:
# 2523 Articles in total 
df.shape

(2523, 4)

In [34]:
# Drop irrelevant columns 
df.drop(columns=['comment_count','authors','processed'],axis=1,inplace=True)

In [35]:
df.head()

                                             content
1  EU governments will make a final push this wee...
2  EU governments will make a final push this wee...
3  JPMorgan Chase is in talks with London regulat...
4  The first of the old-style dark blue British p...
5  From popcorn producers to cloth and cardboard ...

In [40]:
# TODO 
# Convert articles to a text file or loop through each row 

for index, row in df.iterrows():
  if index > len(df):
    break
  else:
    f = open(str(index)+'.txt','w')
    f.write(row[0])
    f.close()
    index+=1

In [16]:
import spacy 
nlp = spacy.load('en')

In [53]:
def read_file(file_name):
    with open(file_name, 'r') as file:
        return file.read().decode('utf-8')